/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 */
@tailwind base;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example:
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

body {
    background-color: #FFFFFF !important;
    background-image: url('/vintage-speckles.png');
/*    background-size: contain;*/
/*    background-attachment: fixed;*/
    background-position: top center;
}

p {
    @apply mb-2;
}

.tabs-component {
  margin: 4em 0;
}

.tabs-component-tabs {
  border: solid 1px #ddd;
  border-radius: 6px;
  margin-bottom: 5px;
  padding: 0;
  background-color: white;
}

.tabs-component-panels {
  border-top-left-radius: 0;
  background-color: rgba(255, 255, 255, 0.9);
  border: solid 1px #ddd;
  border-radius: 0 6px 6px 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .05);
  padding: 2em 2em;
}

@media (min-width: 700px) {
  .tabs-component-tabs {
    border: 0;
    align-items: stretch;
    display: flex;
    justify-content: flex-start;
    margin-bottom: -1px;
    background-color: transparent;
  }
}

.tabs-component-tab {
  @apply text-black;
  font-size: 14px;
  font-weight: 600;
  margin-right: 0;
  list-style: none;
}

/*.tabs-component-tab:nth-of-type(1) {*/
/*  @apply bg-red-400;*/
/*}*/
/*.tabs-component-tab:nth-of-type(2) {*/
/*  @apply bg-green-400;*/
/*}*/
/*.tabs-component-tab:nth-of-type(3) {*/
/*  @apply bg-yellow-400;*/
/*}*/
/*.tabs-component-tab:nth-of-type(4) {*/
/*  @apply bg-pink-400;*/
/*}*/
/*.tabs-component-tab:nth-of-type(5) {*/
/*  @apply bg-blue-400;*/
/*}*/

.tabs-component-tab:not(:last-child) {
  border-bottom: dotted 1px #ddd;
}

.tabs-component-tab:hover {
  color: #666;
}

.tabs-component-tab.is-active {
  color: #000;
}

.tabs-component-tab.is-disabled * {
  color: #cdcdcd;
  cursor: not-allowed !important;
}

@media (min-width: 700px) {
  .tabs-component-tab {
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 3px 3px 0 0;
    margin-right: .5em;
    transform: translateY(2px);
    transition: transform .3s ease;
  }

  .tabs-component-tab.is-active {
    border-bottom: solid 1px #fff;
    z-index: 2;
    transform: translateY(0);
  }

  .tabs-component-tab:not(.is-active) {
    border-bottom: none;
  }
}

.tabs-component-tab-a {
  align-items: center;
  color: inherit;
  display: flex;
  padding: .75em 1em;
  text-decoration: none;
}

.update ul {
  @apply mb-4;
}
